<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionStringKey" connectionString="Server=CCI-LPT-176\MSSQLSERVER2K17E;Database=GitHubTracker;persist security info=False;user id=sa; password=sa123456#;"/>
	</connectionStrings>
	<appSettings>
		<add key="GitHubURL" value="https://api.github.com/users/"/>
		<add key="Token" value="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"/>
	</appSettings>
</configuration>