@using GitHubTracker.ViewModels
@model VmDashboard
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .redAlert {
        background-color: #ffdbdb;
    }

    .orangeAlert {
        background-color: #ffefd2;
    }

    .greenAlert {
        background-color: #d6f1d6;
    }

    .redIcon {
        font-size: 2.5rem;
        color: red;
    }

    .orangeIcon {
        font-size: 2.5rem;
        color: orange;
    }

    .greenIcon {
        font-size: 2.5rem;
        color: green;
    }
</style>

<div class="container px-4 py-4" id="custom-cards">
    <div class="row border-bottom">
        <div class="col-10">
            <h3 class="pb-2 ">Dashboard</h3>
        </div>
        <div class="col-2" style="text-align: right;">
            <a href="~/Home/UpdateCount" class="btn btn-primary"><i class="fa fa-refresh"></i> Refresh Count</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">

        <div class="col">
            <a href="~/Home/UserDetails" style="text-decoration: none;">
                <div class="card card-cover overflow-hidden text-white rounded-5 shadow-lg greenAlert">
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-dark text-shadow-1">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="display-7 lh-1 fw-bold">Total GitHub Users</h2>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-check-circle-o greenIcon"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <h5 class="display-7 lh-1 fw-bold">@Model.UserCount</h5>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-angle-right" style="font-size: 1.5rem;font-weight: bold;"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="~/Home/UserDetails" style="text-decoration: none;">
                <div class="card card-cover overflow-hidden text-white rounded-5 shadow-lg redAlert">
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-dark text-shadow-1">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="display-7 lh-1 fw-bold">Total Public Repos</h2>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-times-circle-o redIcon"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <h5 class="display-7 lh-1 fw-bold">@Model.PublicRepoCount</h5>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-angle-right" style="font-size: 1.5rem;font-weight: bold;"></i>
                            </div>
                        </div>


                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="~/Home/UserDetails" style="text-decoration: none;">
                <div class="card card-cover overflow-hidden text-white rounded-5 shadow-lg orangeAlert">
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-dark text-shadow-1">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="display-7 lh-1 fw-bold">Total Public Gists</h2>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-exclamation-circle orangeIcon"></i>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-10">
                                <h5 class="display-7 lh-1 fw-bold">@Model.PublicGistCount</h5>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <i class="fa fa-angle-right" style="font-size: 1.5rem;font-weight: bold;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
